* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;

}

 #calc { /* Ajusta o tamanho da calculadora e display*/
    width: 300px;
    padding: .5em;
    background-color: #c4c4c4;
    color: black;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-wrap: break-word;
    margin-right: 1.6em;
}
#calc h1 {  /* Ajusta o tamanho do texto "Calculadora"*/
    font-size: .8em;
    font-weight: 300;
    color: #666;
    text-align: center;
    
}

.input-number {  /*Ajusta o display da calculadora*/
    color: #000;
    text-align: right;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    min-height: 1.6em;
}
.previous-operand {
    color: rgba(15, 14, 14, 0.75);
    font-size: 1.5rem;
    word-break: break-all;
    min-height: 1.3em;
}
.current-operand {
    color: black;
    font-size: 2.5rem;
    word-break: break-all;
    min-height: 1.3em;
}

/*#input {
    min-height: 1.6em;
    font-size: 3em;
    font-weight: 700;
    padding: 2em;
    overflow-wrap: break-word; 

}    */
#calc-actions { /* Tamanho e espaçamento das teclas*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
    
}
#calc-actions button {
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #dbdbdb;
    cursor: pointer;
}
#calc-actions button:hover {

    background-color: #999;
    overflow: hidden;
}

#calc-actions .numeros {
    background-color: #f3f3f3;
}
#calc-actions .operator {
grid-column: span 2;
background-color: #75a5cb;

}
.input-number {
    background-color: rgb(255, 255, 255);
}